@model IEnumerable<SporMerkeziIsletmesi.Models.Randevu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Uye)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antrenor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hizmet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Durum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Uye.KullaniciId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Antrenor.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hizmet.HizmetAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
